@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root{
  --brand-blue: #1A73E8;
  --brand-teal: #00B8A9;
  --text: #0f172a;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background: white;
  color: var(--text);
}

body, #root {
  color: #0f172a !important;
}
